@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container h2, .navbar-container h2 {
  margin: 40px 0;
  text-align: center;
}

.navbar-brand {
  width: 10px;
  height: auto;
}

.card-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 0.5px solid gray;
  border-radius: 10px;
  max-width: 90vw;
}
.card-login input {
  margin: 10px;
  max-width: 80vw;
}
.card-login button {
  margin: 10px;
  padding: 5px 10px;
}
.card-login .card-link-registro {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  display: none;
}

.ocultar-element {
  display: none;
}

.show-element {
  display: block;
}

.navbar {
  justify-content: space-around;
}

.navbar-brand {
  width: 200px;
  height: auto;
  margin: 0;
}

.brand-logo {
  width: inherit;
  height: inherit;
}

.form-inline {
  display: flex;
}

#container-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30vw;
  margin: 10px;
  align-items: center;
}

.card-body {
  text-align: center;
}

.card-img-top {
  width: 300px;
  height: 250;
}

.modal-carrito {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  background: rgb(108, 108, 154);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-carrito {
  flex-direction: row;
  width: auto;
  justify-content: space-between;
}

.img-carrito {
  width: 150px;
  height: auto;
}

.modal-nav {
  text-align: center;
}

.none {
  display: none;
}
